#!/usr/bin/env bash

set -euo pipefail

if command -v mise &>/dev/null; then
    echo "mise is already installed."
{{ if eq .chezmoi.os "windows" -}}
else
    echo "Installing mise via winget..."
    winget install --disable-interactivity --accept-source-agreements --accept-package-agreements --id jdx.mise
{{ else -}}
else
    echo "Installing mise..."
    curl https://mise.run | sh
{{ end -}}
fi
