{{- if eq .chezmoi.os "windows" }}
[interpreters.sh]
    command = "C:/Program Files/Git/usr/bin/bash.exe"
    args = ["--login", "--norc"]
[interpreters.ps1]
    command = "pwsh.exe"
    args = ["-NoLogo", "-File"]
{{- else }}
[interpreters.sh]
    command = "bash"
    args = ["--login", "--norc"]
{{- end }}
