---
name: Test install

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test-zsh:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: ${{ matrix.os == 'windows-latest' && 'msys2 {0}' || 'bash' }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup environment
        uses: ./.github/actions/setup-chezmoi
        with:
          msys2-packages: zsh
      - name: Install zsh (Linux)
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends zsh
        if: runner.os == 'Linux'
      - name: Test zsh
        run: zsh -i -c "exit 0"
  test-neovim:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: ${{ matrix.os == 'windows-latest' && 'msys2 {0}' || 'bash' }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup environment
        uses: ./.github/actions/setup-chezmoi
      - name: Test neovim configuration using nvim installed by aqua
        run: |
          command -v nvim || (echo "nvim not found" && exit 1)
          nvim --version
          nvim -Es -V -c q
